<div class="col-md-3">
    <div class="card mb-4">
        <div class="card-header">
            <h5>Quick Links</h5>
        </div>
        <div class="card-body">
            <ul class="list-unstyled">
                <li><a href="{% url 'newspaper:newspaper-list' %}">All Newspapers</a></li>
                <li><a href="{% url 'newspaper:topic-list' %}">All Topics</a></li>
                <li><a href="{% url 'newspaper:redactor-list' %}">All Redactors</a></li>
            </ul>
        </div>
    </div>
</div>
